@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "variables.scss";

/*========== Variables Dark theme ==========*/

body.dark-theme {
  $first-color-second: hsl($hue-color, 30%, 8%);
  $title-color: hsl($hue-color, 8%, 95%);
  $text-color: hsl($hue-color, 8%, 75%);
  $input-color: hsl($hue-color, 29%, 16%);
  $body-color: hsl($hue-color, 28%, 12%);
  $container-color: hsl($hue-color, 29%, 16%);
}

/*========== Button Dark/Light ==========*/

.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.5rem;
  color: $title-color;
  margin-right: $mb-1;
  cursor: pointer;
}

.change-theme:hover {
  color: $first-color;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 0.25rem 0 4rem;
}

.section__title {
  font-size: $h1-font-size;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 780px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: $first-color;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
}

.button:hover {
  background-color: $first-color-alt;
}
.button__icon {
  font-size: 1.25rem;
  margin-left: $mb-0-5;
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__blog {
    width: 180px;
  }

  .skills__title {
    font-size: $normal-font-size;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__description {
    text-align: left;
  }
}

@media screen and(min-width:786px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer {
    padding: 0 1rem;
  }

  .nav {
    // height: calc($header-height + 1.5rem);
    height: calc(3rem + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__blog {
    width: 290px;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    width: 350px;
  }

  .about__description {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: initial;
  }

  .portfolio__img {
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    display: flex;
    flex-direction: row !important;
    column-gap: 1.5rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__blog {
    width: 330px;
  }

  .home__social {
    transform: translateX(-6rem);
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  .splide__arrow--prev {
    left: -1.3rem;
  }

  .splide__arrow--next {
    right: -1.3rem;
  }
}
