@import "../../assets/scss/index.scss";

.curriculum {
  background-color: $container-color;
  color: $text-color;
  padding: 50px 20px;
}

.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  text-align: center;
  padding: 70px 0;
  font-size: $h1-font-size;
  margin-bottom: $mb-0-25;

}

.curriculum h3 {
  font-size: $h3-font-size;

}

.curriculum .fila {
  display: flex;
  justify-content: space-between;
}

.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}

.curriculum .fila .col h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.curriculum .fila .izquierda {
  border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
  border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: $container-color-gray;
  position: relative;
  border-radius: 10px;
}

.curriculum .fila .item h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: $text-white;
}

.curriculum .fila .item .casa {
  color: $text-white;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.curriculum .fila .item .fecha {
  display: block;
  color: $text-white;
  margin-bottom: 10px;
}

.curriculum .fila .item p {
  line-height: 24px;
  color: $text-white;
}

.curriculum .fila .izq {
  border-right: 2px solid $first-color;
  margin-right: 20px;
}

.curriculum .fila .der {
  border-left: 2px solid $first-color;
  margin-left: 20px;
}

.curriculum .fila .item .conectori {
  height: 2px;
  background-color: $first-color;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $first-color;
  float: right;
  position: relative;
  bottom: 4px;
}

.curriculum .fila .item .conectord {
  height: 2px;
  background-color: $first-color;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $first-color;
  float: left;
  position: relative;
  bottom: 4px;
}